[defaults]
inventory = hosts
retry_files_enabled = false
host_key_checking = true
inject_facts_as_vars = True
timeout = 60

[ssh_connection]
pipelining = true
retries = 5
ssh_args = -o BatchMode=yes -o ServerAliveInterval=15 -o ServerAliveCountMax=6
