[defaults]
inventory = hosts
roles_path = roles
retry_files_enabled = false
host_key_checking = false
inject_facts_as_vars = True
timeout = 60

[ssh_connection]
pipelining = true
retries = 5
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o GlobalKnownHostsFile=/dev/null -o BatchMode=yes -o ServerAliveInterval=15 -o ServerAliveCountMax=6
