services:
  remnanode:
    container_name: remnanode
    hostname: remnanode
    # image: {{ remnanode_image }}
    image: ghcr.io/legiz-ru/remnanode-smux:latest
    network_mode: host
    cap_add:
      - NET_ADMIN
    restart: always
    volumes:
      - rw_node_sockets:/dev/shm
    ulimits:
      nofile:
        soft: 1048576
        hard: 1048576
    env_file:
      - .env
volumes:
  rw_node_sockets:
    external: true
